@media only screen and (max-width: 768px) {
    .team-logo {
        width: 24px;
        height: 24px;
    }
    .matchTeams {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 992px) {
    #stakeRangeHolder {
    display: block;
    }
    #stakeInput {
        width: 100%;
        padding-block: 3px;
    }
}

@media only screen and (min-width: 992px) {
    #stakeRangeHolder {
    display: flex;
    }
    #stakeInput {
        width: 45%;
        margin-left: auto;
    }
}

.oddButton {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}

.deleteBetBtn {
    padding: 0.05rem 0.2rem 0.05rem 0.2rem;
    font-size: 0.6rem;
}

.oddsTable {
    max-width: 600px;
    margin: 0 auto;
}

label[for="stakeInput"]
{
    min-width:40%;
}

div.betPick {
    color: white;
    font-size: 0.7rem;
    padding: 0.2rem;
    background-color: #5d5c5c;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#betContent {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(44,48,52);
    overflow: hidden;
}

.placeBetButton {
    padding: 2.5% 7% 2.5% 7%;
    font-size: 0.8rem;
    margin-top: 2px;
}

#betSummary {
    color: white;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

div#betbuilder
{
    width:100%;
    min-height:30px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(28, 32, 36);
    padding-bottom: 10px;
    position: sticky;
    top: 120px;
}

div#betHeader
{
    color: white;
    text-align: center;
    padding: 7.5% 5% 5% 5%;
}

#couponForm {
    background-color: #672a93;
}