.team-logo-frame, .bet-odd, .bet-option, .odd-block
{
    display: inline-block;
}

.bet
{
    background-color: rgb(44,48,52) !important;
}

.odds
{
    margin-left: auto;
    margin-right: auto;
    width: 200px !important;
}