.team-logo-frame, .bet-odd, .bet-option, .odd-block
{
    display: inline-block;
}

.bet
{
    background-color: rgb(44,48,52) !important;
}

div#betbuilder
{
    width:100%;
    min-height:30px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #0067ff;
    padding-bottom: 10px;
}

div#betHeader
{
    color: white;
    text-align: center;
    padding: 10% 5%;
}

.navbtn
{
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    margin: 5px;
}

#register-button
{
    color: white;
    background-color: #212529;
    border-color: #212529;
}

#register-button:hover
{
    background-color: #424649;
    border-color: #424649;
}

#logout-button
{
    color: white;
    background-color: #424649;
    border-color: #424649;
}

#logout-button:hover
{
    background-color: #212529;
    border-color: #212529;
}

.btn#login-button
{
    margin-right: 5px;
}

.signupform
{
    background-color: #424649;
}

div.form-container
{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

div#betPick {
    color: white;
    font-size: 0.7rem;
    padding: 0.2rem;
    width: 85%;
    background-color: #1d2024;
    margin-left: auto;
    margin-right: auto;
}