.team-logo-frame, .bet-odd, .bet-option, .odd-block
{
    display: inline-block;
}

.result, .bet, .coupon, .lbUser
{
    background-color: rgb(28 32 36);
}

.lbUserFirst
{
    background-color: rgb(98 78 21);
}

.resultDetails, .betDetails, .lbUserDetails
{
    background-color: rgb(51 58 64);
}

div#betbuilder
{
    width:100%;
    min-height:30px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #537cc7;
    padding-bottom: 10px;
    position: sticky;
    top: 120px;
}

div#betHeader
{
    color: white;
    text-align: center;
    padding: 7.5% 5% 5% 5%;
}

.navbtn
{
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    margin: 5px;
}

.navbar-text
{
    color: rgba(255,255,255,0.8);
}

#register-button, #logout-button
{
    color: white;
    background-color: #212529;
    border-color: #212529;
    border: 3px solid white;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

#register-button:hover, #logout-button:hover
{
    background-color: #424649;
    border-color: #424649;
}

.btn#login-button
{
    margin-right: 5px;
    border: 3px solid #284774;
    color: #284774;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.btn#login-button:hover
{
    border: 3px solid #d3d4d5;
}

.signUpForm
{
    background-color: rgb(28, 32, 36);
    margin-top: 120px;
}

.formWrapper {
    background-color: #182a44;
}

div.form-container
{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #284774;
}

div.betPick {
    color: white;
    font-size: 0.7rem;
    padding: 0.2rem;
    background-color: #5d5c5c;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#betContent {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(44,48,52);
}

.placeBetButton {
    padding: 2.5% 7% 2.5% 7%;
    font-size: 0.8rem;
    margin-top: 2px;
}

#betSummary {
    color: white;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

label[for="stakeInput"]
{
    min-width:40%;
}

.bolder {
    font-weight: bolder;
}

.oddsTable {
    max-width: 600px;
    margin: 0 auto;
}

.siteName {
    letter-spacing: 2px;
}

.betButton {
}

.signConfirm {
    padding: 0.75rem 2rem 0.75rem 2rem;
    font-size: 1.1rem;
}

.deleteBetBtn {
    font-size: 0.75rem;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}

#myCoupons {
    margin-left: 1rem;
    margin-right: 1rem;
}