@media only screen and (max-width: 992px) {
    body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .team-logo {
        width: 18px;
        height: 18px;
    }
    body {
        font-size: 12px;
    }
    .container {
        max-width: none !important;
    }
}

.formBox
{
    width: 1.25rem;
    display: inline-block;
    text-align: center;
}

.formWin
{
    background-color: #3ec434;
}

.formLose
{
    background-color: #c43434;
}

.formDraw
{
    background-color: #bec434;
}

.formUnknown
{
    background-color: #898989;
}