{% extends 'base.html' %}
{% load static %}
{% block title %}Results{% endblock title %}
{% block content %}

<div style="padding-top: 120px;"></div>
<div class="infinite-container">
    {% for coupon in coupons %}
    <div class="infinite-item mx-auto col-lg-8">
        <span class="text-white">{{coupon.coupon_id}}</span>
        <span class="text-white">{{coupon.stake}}</span>
        <span class="text-white">{{coupon.odds}}</span>
        <span class="text-white">{{coupon.prize}}</span>
    </div>
    {% endfor %}
</div>

{% if matches.has_next %}
<div class="mb-2" style="text-align: center;">
<button type="button" class="btn btn-secondary m-2"><a class="infinite-more-link" href="?page={{ matches.next_page_number }}" style="text-decoration: none; color:white;">Load more</a></button>
</div>
{% endif %}

<script>
var infinite = new Waypoint.Infinite({
  element: $('.infinite-container')[0]
});
</script>

{% endblock content %}