{% extends 'base.html' %}
{% load static %}
{% block title %}Coupons{% endblock title %}
{% block content %}

<div style="padding-top: 120px;"></div>
<div class="container">
    {% for coupon in coupons %}
        {% if not coupon.outcome %}
        <div class="item mx-auto col-lg-8 bg-primary rounded p-1 m-3">
        {% elif coupon.outcome == 1 %}
        <div class="item mx-auto col-lg-8 bg-success rounded p-1 m-3">
        {% else %}
        <div class="item mx-auto col-lg-8 bg-danger rounded p-1 m-3">
        {% endif %}
            <span class="text-white">Coupon ID: {{coupon.coupon_id}}</span>
            {% for type in types %}
                {% if type.0 == coupon.type %}
                <span class="text-white">Type: {{type.1}}</span>
                {% endif %}
            {% endfor %}
            <span class="text-white">Stake: {{coupon.stake}}</span>
            <span class="text-white">Odds: {{coupon.odds}}</span>
            <span class="text-white">Prize: {{coupon.prize}}</span>
            <span class="text-white">Created: {{coupon.create_date|date:'d M Y'}}</span>
        </div>
    {% endfor %}
</div>

{% endblock content %}