{% extends 'base.html' %}
{% load static %}
{% block title %}Fixtures{% endblock title %}
{% block content %}
<table class="table table-dark table-striped">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Points</th>
        <th scope="col">Matches Played</th>
        <th scope="col">Wins</th>
        <th scope="col">Draws</th>
        <th scope="col">Losses</th>
        <th scope="col">Goals</th>
        <th scope="col">Form</th>
    </thead>
    {% for team in teams %}
    <tbody>
        <th scope="row">{{team.position}}</th>
        <td><div class="team-logo-frame me-2"><img class="team-logo" width=32px alt="{{team.name}}" src="{{team.image.url}}"></div>{{team.name}}</td>
        <td>{{team.league_points}}</td>
        <td>{{team.matches_played}}</td>
        <td>{{team.wins}}</td>
        <td>{{team.draws}}</td>
        <td>{{team.losses}}</td>
        <td>{{team.goals_scored}}:{{team.goals_conceded}}</td>
        <td>{{team.form}}</td>
    </tbody>
    {% endfor %}
</table>
{% endblock content %}