{% extends 'base.html' %}
{% load static %}
{% block title %}Sign In{% endblock title %}
{% block content %}
<div style="padding-top: 120px;"></div>
    <div class="container-fluid text-white rounded-2 col-lg-8 signUpForm p-3">
        <h2>Enter your credentials</h2>
        <div>
            <div class="form-container">
            <form method="post" class="pt-3">
                {% csrf_token %}
                {{ form.as_p }}
                  <div class="form-group p-2">
                    <label for="username">Username</label>
                    <input type="text" class="form-control mb-2" id="username" name="username">
                  </div>
                <div class="form-group p-2">
                    <label for="password">Password</label>
                    <input type="password" class="form-control mb-2" id="password" name="password">
                  </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary ps-4 pe-4 mt-2 mb-4 signConfirm" value="Sign In">
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock content %}