<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}Odds{% endblock title %}
{% block content %}
    <div style="padding-top: 120px;"></div>
    <div class="row">
        <div class="infinite-container col-xl-9">
            {% for match in matches %}
                {% if not match.played %}
                    <div class="infinite-item">
                        <div class="row d-block mt-6 pb-3">
                            <div class="p-4 bet">
                                <div class="text-white h6">{{match.date|date:'d F Y H:i'}}<span style="float: right;">Week {{match.week}}</span></div>
                                <div class="text-white mt-4 mb-4">
                                    <img class="team-logo me-2" width=32px alt="{{match.team_home}}" src="{{match.team_home.image_url}}"> {{match.team_home}} - {{match.team_away}}
                                    <img class="team-logo ms-2" width=32px alt="{{match.team_away}}" src="{{match.team_away.image_url}}">
                                </div>
                                <div class="odds-segment">
                                    <table class="table table-dark">
                                        <thead>
                                            <th class="text-center" scope="col">1</th>
                                            <th class="text-center" scope="col">X</th>
                                            <th class="text-center" scope="col">2</th>
                                        </thead>
                                        <tbody>
                                            <td class="text-center"><button type="button" data-match="{{match.match_num}}" data-team="{{match.team_home}}" data-odd="{{match.odds_team_home}}" data-pick="1" class="btn btn-primary betbutton">{{match.odds_team_home}}</button></td>
                                            <td class="text-center"><button type="button" data-match="{{match.match_num}}" data-team="Draw" data-odd="{{match.odds_draw}}" data-pick="X" class="btn btn-primary betbutton">{{match.odds_draw}}</button></td>
                                            <td class="text-center"><button type="button" data-match="{{match.match_num}}" data-team="{{match.team_away}}" data-odd="{{match.odds_team_away}}" data-pick="2" class="btn btn-primary betbutton">{{match.odds_team_away}}</button></td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-xl-3 d-inline">
            <div id="betbuilder" class="mb-1">
                {% if not user.is_authenticated %}
                    <div id="betHeader" data-logged="false">Log in to create a coupon</div>
                {% else %}
                <form>
                    <div id="betHeader" data-logged="true">Add first event to the coupon</div>
                    <div id="betContent">
                    <div id="chosenBets"></div>
                        <div id="betSummary" class="d-none">
                                <div>
                                    <label for="stakeRange">Stake:<span id="betStake" class="ms-1 bolder"></span></label>
                                    <input type="range" value="2.00" min="2.00" max="100.00" step="0.01" class="d-none" id="stakeRange">
                                </div>
                                <div>Odds:<span id="betOdds" class="ms-1 bolder"></span></div>
                                <div>Prize:<span id="betPrize" class="ms-1 bolder"></span></div>
                        </div>
                    <input type="submit" value="Place Bet" class="btn btn-danger placeBetButton d-none">
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    {% if matches.has_next %}
    <div class="mb-2" style="text-align: center;">
        <button type="button" class="btn btn-secondary m-2">
            <a class="infinite-more-link" href="?page={{ matches.next_page_number }}" style="text-decoration: none; color:white;">Load more</a>
        </button>
    </div>
    {% endif %}

    <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
    </script>
    <script src="{% static 'js/betbuilder.js' %}"></script>

{% endblock content %}