{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock title %}
{% block content %}
<div class="container-fluid text-white rounded col-lg-8 signUpForm p-3">
    <div class="rounded formWrapper p-3">
        {% if registered %}
        <h2>You have been registered!</h2>
        {% else %}
        <h2>Fill out the Registration form</h2>
        <div class="mt-4 mb-2">
            <div class="form-container rounded">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{form_as.p}}
                {% for field in register_form %}
                  <div class="form-group p-2">
                    <label for="{{ field.name }}">{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" class="form-control mb-2" id="{{ field.name }}" name="{{ field.name }}">
                  </div>
                {% endfor %}
                <div class="text-center">
                    <input type="submit" class="btn btn-primary mt-3 mb-3 signConfirm" value="Register">
                </div>
            </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}